---
const currentYear = new Date().getFullYear();
import { Image } from 'astro:assets';
import { footerNavGroups } from '../data/navigation';
import logo from '../assets/logo.png';
---

<footer class="border-t border-base-200 text-base-content pt-8 pb-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-col lg:flex-row flex-wrap justify-between gap-8">
      <!-- Logo & Description -->
      <div class="flex flex-col items-center lg:items-start gap-2 lg:max-w-xs">
        <a href="/" class="text-2xl font-bold flex flex-row gap-2">
          <Image src={logo} alt="Escape Road" class="size-12 rounded-md" />
          <div class="leading-none">Escape <span class="text-[#ff950b] block font-bold">Road</span></div>
        </a>
        <p class="text-sm opacity-80 text-center lg:text-left">
          Disclaimer: Escape Road is an independent website and is not affiliated with any organizations.
        </p>
      </div>

      <!-- Links Container -->
      <div class="flex flex-col md:flex-row flex-wrap justify-around lg:justify-end gap-8 lg:gap-16 flex-1 text-xs sm:text-sm">
        {footerNavGroups.map(group => (
          <div class="flex flex-col items-center md:items-start gap-2">
            {group.title && <h3 class="font-bold mb-2">{group.title}</h3>}
            {group.items.map(item => (
              <a href={item.href} class="link link-hover text-sm">{item.label}</a>
            ))}
          </div>
        ))}

        <!-- Social Links -->
        <!-- <div class="flex flex-col items-center md:items-start gap-2">
          <h3 class="font-bold mb-2">Follow Us</h3>
          <div class="flex gap-4">
            <a href="https://github.com/drivemad" target="_blank" rel="noopener noreferrer"
               class="btn btn-ghost btn-circle">
              <i class="ph ph-github-logo text-2xl"></i>
            </a>
            <a href="https://youtube.com/@drivemad" target="_blank" rel="noopener noreferrer"
               class="btn btn-ghost btn-circle">
              <i class="ph ph-youtube-logo text-2xl"></i>
            </a>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Copyright -->
    <!-- <div class="divider mt-8"></div>
    <div class="text-center text-sm opacity-60">
    </div> -->
  </div>
</footer>
